<div id="<%= dom_id invoice %>">
  <p>
    <strong>Client:</strong>
    <%= invoice.client_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= invoice.number %>
  </p>

  <p>
    <strong>Issued at:</strong>
    <%= invoice.issued_at %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= invoice.subtotal %>
  </p>

  <p>
    <strong>Tax total:</strong>
    <%= invoice.tax_total %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= invoice.total %>
  </p>

</div>
